.backdrop{
    position: fixed;
    inset: 0;
    background-color: transparent;
    z-index: 100;
}

.card{
    border-radius: 30px;
    overflow: hidden;
    max-width: 1184px;
    background-color: #fbfbfb;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 101;
    margin-left: 0;
    margin-bottom: 0;
}

.cardTop{
    max-width: 1184px;
    background-color: #fbfbfb;
    padding: 24px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.avatarWrapper{
    position: relative;
    border: 2px solid rgba(240, 63, 59, 0.2);
    border-radius: 30px;
    width: 120px;
    height: 120px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.avatar{
    border-radius: 15px;
    width: 96px;
    height: 96px;
    object-fit: cover;
    display: block;
}

.onlineOuter {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 50%);
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.onlineInner {
  width: 10px;
  height: 10px;
  background-color: #4caf50;
  border-radius: 50%;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.infoTop {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.infoTopDetailesFav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoTopCategory{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #8a8a89;
}

.infoTopName{
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #11101c;
}

.infoTopDetailesWrapper{
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.infoTopDetailesList{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.detailesBox + .detailesBox {
  border-left: 1px solid rgba(17, 16, 28, 0.2);
  padding-left: 15px;
}

.detailesBox{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.detailesText{  
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #11101c;
}

.priceText{
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #38cd3e;
}

.heartButton{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.heartIcon{
    color: #11101c;
}

.badgesList{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px;
}

.badgesItem{
    border-radius: 24px;
    padding: 8px 16px;
    background-color: #f3f3f3;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #8a8a89;
}

.badgeAge{
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #11101c;
}

.badge{
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #11101c;
}

.infoAbout{
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: rgba(17, 16, 28, 0.5);
}

.readMoreButton{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #11101c;
    background-color: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 0;
}

.cardBottom {
    padding: 24px 168px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #fbfbfb;
}

.cardBottom {
    max-width: 1184px;
    width: 100%;
    margin-left: 0;
    padding: 24px 168px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #fbfbfb;
}

.reviewsList{
    display: flex;
    flex-direction: column;
}

.reviewItem{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 25px;
}

.reviewHeader{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.reviewAvatar{
    border-radius: 50%;
    width: 44px;
    height: 44px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(9, 87, 195, 0.2);
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #0957c3;
}

.reviewerRating{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.reviewReviewer{
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: #11101c;
}

.starReting{
    display: flex;
    flex-direction: row;
    justify-self: space-between;
    gap: 8px;
}

.ratingText{
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    color: #11101c;
}

.reviewComment{
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: rgba(17, 16, 28, 0.5);
}

.makeAppointmentButton{
    border-radius: 30px;
    padding: 14px 28px;
    width: 215px;
    height: 48px;
    background-color: #0957c3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #fbfbfb;
}