.card{
    border-radius: 30px;
    max-width: 1184px;
    background-color: #fbfbfb;
    padding: 24px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.avatarWrapper{
    position: relative;
    border: 2px solid rgba(240, 63, 59, 0.2);
    border-radius: 30px;
    width: 120px;
    height: 120px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar{
    border-radius: 15px;
    width: 96px;
    height: 96px;
    object-fit: cover;
    display: block;
}

.onlineOuter {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(30%, -30%);

  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.onlineInner {
  width: 12px;
  height: 12px;
  background-color: #4caf50;
  border-radius: 50%;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.infoTop {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.infoTopDetailesFav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoTopCategory{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #8a8a89;
}

.infoTopName{
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #11101c;
}

.infoTopDetailesWrapper{
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.infoTopDetailesList{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.detailesBox{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.detailesText{  
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #11101c;
}