.hero{
    max-width: 1440px;
    width: 100%; 
    background: #fbfbfb;
    padding: 16px 0;
    margin: 0 auto;
    box-sizing: border-box; 
}

.homeBackground{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    height: 788px;
    background-color: #0957c3;
    border-radius: 20px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    padding: 0 32px;
    margin-top: 100px;
}

.heroTextBox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 28px;
    margin-bottom: 0;
}

.title{
    font-weight: 500;
    font-size: 40px;
    line-height: 0.95;
    letter-spacing: -0.03em;
    color: #fbfbfb;
}

.description{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #fbfbfb;
}

.heroButton{
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 30px;
    padding: 18px 50px;
    width: 230px;
    height: 60px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #fbfbfb;

    transition: transform 0.3s ease; 
}

.heroButton svg {
    transition: transform 0.3s ease; 
}

.heroButton:hover,
.heroButton:focus {
    transform: scale(1.05); 
}

.heroButton:hover svg,
.heroButton:focus svg {
    transform: rotate(50deg); 
}


.imgWrapper{
    width: 100%;
    height: 700px; /* висота для мобілки */
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.nannyQuantityBox{
    position: absolute;
    z-index: 100;
    right: 30px;
    bottom: 30px;
    border-radius: 20px;
    background-color: #fbfbfb;
    padding: 14px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    width: 220px;
    box-sizing: border-box;
}

@media screen and (min-width: 340px){
    .hero{
        padding: 20px;
    }
    
    .nannyQuantityBox{
        bottom: 40px;
        right: 40px;
    }
}

.iconBox{
    padding: 10px;
    background-color: #0957c3;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.checkIcon{
    width: 24px;
    height: 24px;
}

.textBox{
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 140px;
}
.text,
.quantityText {
    margin: 0;
    line-height: 1.2;
}

.text{
    font-weight: 400;
    font-size: 14px;
    color: rgba(17, 16, 28, 0.5);
}

.quantityText{
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #11101c;
}

@media screen and (min-width: 768px){
  .title{
    font-size: 44px;
  }
  .description{
    font-size: 24px;
  }

  .nannyQuantityBox{
    right: 44px;
    bottom: 44px;
    padding: 20px;
    width: 242px;
  }

  .iconBox{
    padding: 12px;
    border-radius: 14px;
  }

  .checkIcon{
    width: 26px;
    height: 26px;
  }

  .textBox{
    width: 136px;
  }
  
  .quantityText{
    font-size: 22px;
  }
}

@media screen and (min-width: 1024px){
  .hero{
    padding: 26px;
  }


  .homeBackground{
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 30px;
    align-items: stretch;
    height: 776px;
  }

  .imgWrapper{
    right: 0;
    bottom: 0;
    max-width: 699px;
    height: 100%;
    flex-grow: 1;
    border-bottom-left-radius: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .imgWrapper{
  flex: 1;
  right: 0;
  bottom: 0;
  max-width: 699px;
  height: 100%;
  overflow: hidden;

  border-bottom-left-radius: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

  .image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

  .content{    
    flex-direction: column;
    gap: 64px;
    max-width: 570px;
    box-sizing: border-box;
    margin-top: 0;
    padding: 250px 0 120px 80px;
    z-index: 2;
  }

  .heroTextBox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 28px;
    margin-bottom: 0;
  }

  .title{
    font-size: 70px;
  }

  .description{
    font-size: 28px;
  }

  .nannyQuantityBox{
    right: 50px;
    bottom: 50px;
    padding: 32px;
    width: 284px;
  }

  .iconBox{
    border-radius: 16px;
  }

  .checkIcon{
    width: 30px;
    height: 30px;
  }

  .textBox{
    width: 150px;
    gap: 14px;
  }

  .text{
    font-size: 16px;
  }

  .quantityText{
    font-size: 24px;
  } 

}

