.header{
    top: 0;
    width: 100%;
    max-width: 1440px;
    height: 88px;
    padding: 20px 40px;
    z-index: 1000;
    background-color: #0957c3;
    border-radius: 0;
    transition: background-color 0.3s ease;
    border-bottom: #fbfbfb;
}

.homeHeader {
  background: transparent;
  position: absolute;
  border-bottom: 1px solid #fbfbfb;
  top: 6px;
}

.scrolledHeader {
  position: fixed;
  background: #0957c3;
  backdrop-filter: blur(6px);
}

.defaultHeader {
  position: fixed;
  background: #0957c3;
}

.headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: 500;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    padding: 10px 0;
}

/* MOBILE */
.nav{
    display: none;
}

.authBlock{
    display: none;
}

.burger{
    color: #fbfbfb;
    padding: 0 48px;
    background-color: transparent;
}

.menu {
    display: inline-block;
    width: 24px;
    height: 24px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

/* TABLET */
@media screen and (min-width: 768px){

  .header{
    padding: 20px;
  }

  .burger{
    display: none;
  }

  .nav{
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;

  }

  .link{
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    position: relative;

    transition: transform 0.3s ease;
  }

  .activeLink {
    position: relative;
  }

  .activeLink::after {
    content: "";
    position: absolute;
    bottom: -10px; 
    left: 50%;
    transform: translateX(-50%);
    width: 8px;
    height: 8px;
    background-color: currentColor;
    border-radius: 50%;
  }

  .link:hover,
  .link:focus{
    transform: scale(1.15);
  }

  .authBlock{
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
  }

  .loginBtn,
  .registerBtn{
    border-radius: 30px;
    padding: 14px 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: -0.01em;
    
    transition: transform 0.3s ease;
  }

  .loginBtn{
    border: 1px solid #0957c3;
    color: #0957c3;
    background-color: #fbfbfb;
  }
  
  .loginBtn:hover,
  .loginBtn:focus{
    transform: scale(1.05);
  }

  .registerBtn{
    background-color: transparent;
    color: #fbfbfb;
    border: 1px solid #fbfbfb;
  }

  .registerBtn:hover,
  .registerBtn:focus{
    transform: scale(1.05);
  }

  .profile{
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
  }

  .userBox{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }

  .userIcon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f3f3;
    border-radius: 10px;
    padding: 8px; 
  }

  .username{
    font-weight: 500;
    font-size: 16px;
    line-height: 111%;
    letter-spacing: -0.01em;
    color: #fbfbfb;
  }

  .logoutBtn{
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 30px;
    padding: 14px 39px;
    background-color: transparent;
    height: 48px;
    font-weight: 500;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #fbfbfb;
  } 

  .logoutBtn:hover,
  .logoutBtn:focus{
    transform: scale(1.05);
  }
}  

/* DESKTOP */
@media screen and (min-width: 1280px){
  .link
  .loginBtn,
  .registerBtn,
  .logoutBtn{
    font-size: 16px;
  }

  .username{
    font-size: 18px;
  }

  .nav{
    gap: 40px;
  }
}