.wrapper {
  position: relative;
  width: 226px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 28px;
}

.filterLabel {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #8a8a89;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 14px;
  padding: 16px 18px;
  width: 226px;
  height: 52px;
  background: #0957c3;
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  color: #fbfbfb;
}

.icon {
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.dropdown {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  margin-top: 4px;
  border-radius: 14px;
  box-shadow: 0 20px 69px 0 rgba(0, 0, 0, 0.07);
  background-color: #fff;
  padding: 14px 18px;  
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 1000;
}

.open {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.option{
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  color: rgba(17, 16, 28, 0.3);
  background-color: #fff;
}

.optionBtn {
  all: unset;
  width: 100%;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  color: rgba(17, 16, 28, 0.3);
}

.option.active .optionBtn {
  color: #11101c;
}

.optionBtn:hover {
  color: #11101c;
}