.dots {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
}

.dots span {
  width: 8px;
  height: 8px;
  background: #4a90e2; /* можна змінити колір */
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.dots span:nth-child(2) {
  animation-delay: 0.2s;
}
.dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    transform: translateY(-6px);
    opacity: 0.6;
  }
}