.loadMoreBtn{
    all: unset;
    border-radius: 30px;
    border: 1px solid transparent; 
    padding: 14px 40px;
    background-color: #0957c3;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.01em;
    cursor: pointer;
    display: flex;
    align-self: center;
    justify-content: center;

    transition: transform 0.3s ease;
    
}

.loadMoreBtn:hover,
.loadMoreBtn:focus{
    background-color: #fbfbfb;
    border-color: #0957c3;
    color: #0957c3;
    transform: scale(1.05);
}